<h2>Angular built-in pipes</h2>
<a href="#date-pipe">date pipe</a><br>
<a href="#slice-pipe">slice pipe</a><br>
<a href="#currency-pipe">currency pipe</a><br>
<a href="#decimal-pipe">decimal pipe</a><br>
<a href="#percent-pipe">percent pipe</a><br>
<a href="#case-pipe">case pipe</a><br>
<a href="#plurial-pipe">plurial pipe</a><br>
<a href="#select-pipe">select pipe</a><br>
<a href="#json-pipe">json pipe</a><br>
<a href="#key-value-pipe">key-value pipe</a><br>
<br>
<h2>Custom pipes</h2>
<a href="#exponential-pipe">exponential pipe</a><br>
<hr>
<app-hero-list></app-hero-list>
<hr>
<date-pipe id="date-pipe"></date-pipe>
<hr>
<slice-pipe id="slice-pipe"></slice-pipe>
<hr>
<currency-pipe id="currency-pipe"></currency-pipe>
<hr>
<decimal-pipe id="decimal-pipe"></decimal-pipe>
<hr>
<percent-pipe id="percent-pipe"></percent-pipe>
<hr>
<case-pipe id="case-pipe"></case-pipe>
<hr>
<plurial-pipe id="plurial-pipe"></plurial-pipe>
<hr>
<select-pipe id="select-pipe"></select-pipe>
<hr>
<json-pipe id="json-pipe"></json-pipe>
<hr>
<key-value-pipe id="key-value-pipe"></key-value-pipe>
<hr>
<exponential-pipe id="exponential-pipe"></exponential-pipe>